//
// Created by Julian
//

#ifndef ROSBRIDGECLIENT_{guard}_HPP
#define ROSBRIDGECLIENT_{guard}_HPP

#include <rbc/msgs/rbc_array_message.h>
#include <rbc/ros_types/ros_types.h>

namespace rbc::msgs::{ros_msg_type}
{{

class {class_name} : public RBCArrayMessage
{{
public:
  {class_name}();
  ~{class_name}() {inher} = default;

  void add(const rbc::ros_types::{array_ros_type} &{array_ros_type});

private:
  const std::string ros_msg_type;
  const std::string array_descriptor;
  web::json::value createJsonMsg() const {inher};
}};
}} // namespace rbc::msgs::{ros_msg_type}


#endif //ROSBRIDGECLIENT_{guard}_HPP