//
// Created by Julian
//

#ifndef ROSBRIDGECLIENT_{guard}_HPP
#define ROSBRIDGECLIENT_{guard}_HPP

#include <ros_bridge_client/msgs/rbc_message.h>

namespace ros_bridge_client::msgs::{ros_msg_type}
{{

class {class_name} : public RBCMessage
{{
public:
  {class_name}();
  ~{class_name}() {inher} = default;

private:
  const std::string ros_msg_type;
  web::json::value createJsonMsg() const {inher};
}};
}} // namespace ros_bridge_client::msgs::{ros_msg_type}


#endif //ROSBRIDGECLIENT_{guard}_HPP