//
// Created by Julian
//

#include <ros_bridge_client/msgs/{ros_msg_type}/{header_name}.h>

using namespace ros_bridge_client::msgs::{ros_msg_type};
using namespace web;

{class_name}::{class_name}()
  : ros_msg_type("{ros_msg_type}/{ros_msg_name}")
{{
  json[U("type")] = json::value::string(ros_msg_type);
  json[U("msg")] = createJsonMsg();
}}

json::value {class_name}::createJsonMsg() const
{{
  json::value {header_name}_json;
  return {header_name}_json;
}}
